[submodule "vim-rails"]
        path = bundle/vim-rails
        url = git://github.com/tpope/vim-rails.git
[submodule "vim-git"]
        path = bundle/vim-git
        url = git://github.com/tpope/vim-git.git
[submodule "vim-fugitive"]
        path = bundle/vim-fugitive
        url = git://github.com/tpope/vim-fugitive.git
[submodule "vim-cucumber"]
        path = bundle/vim-cucumber
        url = git://github.com/tpope/vim-cucumber.git
[submodule "vim-haml"]
        path = bundle/vim-haml
        url = git://github.com/tpope/vim-haml.git
[submodule "vim-abolish"]
        path = bundle/vim-abolish
        url = git://github.com/tpope/vim-abolish.git
[submodule "vim-surround"]
        path = bundle/vim-surround
        url = git://github.com/tpope/vim-surround.git
[submodule "vim-unimpaired"]
        path = bundle/vim-unimpaired
        url = git://github.com/tpope/vim-unimpaired.git
[submodule "nerdtree"]
				path = bundle/nerdtree
				url = git://github.com/scrooloose/nerdtree.git
[submodule "nerdcommenter"]
				path = bundle/nerdcommenter
				url = git://github.com/scrooloose/nerdcommenter.git
[submodule "snipmate"]
				path = bundle/snipmate
				url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-haml"]
	path = bundle/vim-haml
	url = git://github.com/tpope/vim-haml.git
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "bundle/vim-pastie"]
	path = bundle/vim-pastie
	url = git://github.com/tpope/vim-pastie.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
